node_modules
.next
.turbo
.vercel
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
webapp/node_modules
webapp/.next
webapp/.turbo
webapp/.vercel
webapp/npm-debug.log*
webapp/yarn-error.log*
webapp/pnpm-lock.yaml
webapp/package-lock.json
api/.venv
__pycache__
*.pyc
